@charset "UTF-8";

#color-box {
  height: 100px;
  width: 100px;
}
#color-box2 {
  height: 100px;
  width: 100px;
}
#color-box3 {
  height: 100px;
  width: 100px;
}
#color-box4{
  height: 100px;
  width: 100px;
}
#color-box5 {
  height: 100px;
  width: 100px;
}
#whatt {
  display: none;
}
